<%- include ('../parts/head') %>

<body>
    <nav>
        <%- include ('../parts/nav') %>
    </nav>

    <h1>Ajouter un commentaire</h1>

    <form name="formCom" method="post">
        <div>
            <label for="prenom">Prénom: </label>
            <input type="text" name="prenom" id="prenom" required>
        </div>
        <br>
        <div>
            <label for="content">Ecris ton message: </label>
            <textarea name="content" id="content" cols="50" rows="5" required></textarea>
        </div>
        <br>
        <div>
            <button type="submit">Envoyer</button>
        </div>
        <br>
    </form>

    <footer>
        <%- include ('../parts/footer'); %>
    </footer>

</body>
</html>