<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- '<style>' + include(`../../public/style/home.style.css`) + '</style>' %>
    <title>SchoolBook</title>
</head>