<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/classes">Les classes</a></li>
    <li><a href="/professors">Corps professoral</a></li>
    <li><a href="/about">A propos</a></li>
    <li><a href="/comment">Commentaires</a></li>
    <li><a href="/comment/add">Ajouter un commentaire</a></li>
    <li><a href="/connection">Connexion</a></li>       
</ul>
