<%- include ('../parts/head') %>

<body>
    <nav>
        <%- include ('../parts/nav') %>
    </nav>

    <h1>Se connecter</h1>

    <form method="post">
        <div>
            <label for="user">Nom d'utilisateur: </label>
            <input type="text" name="user" id="user" required>
        </div>
        <br>
        <div>
            <label for="password">Mot de passe: </label>
            <input type="password" name="password" id="password">
        </div>
        <br>
        <div>
            <button type="submit">Envoyer</button>
        </div>
        <br>
    </form>
    
    <a href="/prof"><button type="button">test prof</button></a>
    <a href="/student"><button type="button">test student</button></a>
    <br>
    <br>
    
    <footer>
        <%- include ('../parts/footer'); %>
    </footer>
    
</body>
</html>